nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000000;
  background-color: #94d0f1;
  padding: 8px;
}

th {
  background-color: #f9f62e;
}

.button-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.button-link {
  color: #007bff;
  text-decoration: none;
}

.button-link:hover {
  text-decoration: underline;
}

.view-details-card {
  background-color: #ffa8a8;
  padding: 10px;
  border-radius: 5px;
}

.navbar {
  background-color: #ffa8a8;
  padding: 10px;
}

.episodes {
  background-color: #00ff46;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.locacion {
  background-color: #00ff46;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.vehicles {
  background-color: #00ff46;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}